            .hr_clean {margin:0;}

            input[type=number]{text-align:right;}

            .bs-wizard {margin-top: 0px;}
            /*Form Wizard*/
            .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
            .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
            .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
            .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
            .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
            .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
            .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
            .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
            .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
            .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
            .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
            .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
            .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
            .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
            .row{padding:5px 20px;}
            /*END Form Wizard*/

            div.no_padding{padding-left:0;}

            .text-info{color:#2196f3 !important;}

            .bg_gray{background:#f0f0f0;padding:10px 0;}

            table.clean_table tr td{padding:5px;}

            .hide_box{margin-left:20px;margin-right:-5px;padding-right:0;}

            .content{
                  background:;
            }


/*LAYOUT TOUCHSCREEN*/
      .content_full {
            width: 100%;
            height: 100%;
            min-height: 100%;
            /*background: red;*/
            display: block;
        }
        .vficenter h1{
            /*margin-left: 25px;*/
            font-weight: bold;
            background: #d6d6d6;
            padding:20px 20px 20px 40px;
            margin:0 -15px 20px -15px ;

        }
        .btn_clear{background: none;border:none;margin:0;padding:0;}

        hr{border-color: #c9c9c9;}

        html, body {
            height: 100%;
        }

        .full { 
            min-height: 100%;
            height: 100%;
            padding:0;
        }
        .vfileft{
            background: #F2F2F2;
            height: 100%;
        }
            .side_menu{
                padding:20px 0px 20px 20px;
                color: #CC6600;
            }
            ul.menu_side_menu {
                list-style: none;
                padding:0;
            }
            ul.menu_side_menu li{
                margin:10px 0;
                background: #d9d9d9;
                height:45px;
                overflow:hidden;
                /*padding:15px ;*/
                color: #39393b;
                text-transform: uppercase;
            }
            ul.menu_side_menu  li{
                -moz-transition : .5s;
                -o-transition : .5s;
                -webkit-transition : .5s;
            }
            ul.menu_side_menu  li i{
                background: rgba(0,0,0,0.1);
                padding: 15px;
                margin-right: 10px;
            }
            ul.menu_side_menu  a:hover,  ul.menu_side_menu  li:hover,
             ul.menu_side_menu  a:active,  ul.menu_side_menu  li:active{
                text-decoration: none;
                background: #c3c3c3; 
             }

             .side_menu .label_home{
                margin-top:50px;
                font-weight: bold;
                color :#3a3a3c;
               
             }

             .side_menu hr{
                border-color: #cdcdcd;
                margin :20px 0;
             }

        .vficenter{
            background: #e4e4e4;
            height:100%;
            /*padding:10px 30px;*/
            overflow:auto;
        }
        .vfiright{background: #301A14;
            height:100%

        }
            .box_nav{
                margin-left:-15px;
            }
            .box_nav .navbar-nav{
                width:100%;
                background: rgba(255,255,255,0.1);
            }
            .box_nav .navbar-nav a{
                color: white;
            }

           .box_nav .navbar-nav a:hover{
                background: rgba(255,255,255,0.11);
                color:white;
            }
             .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
                background: rgba(255,255,255,0.11) !important; 
                color:white;
            }
            .box_nav .dropdown-menu{
                background:#523b35;
            }

        .row.info{
            background:#cedde3;
            padding: 15px 5px 5px 20px;
        }

        .bs-wizard-step {border:0px solid red;margin-top:-30px;}
        .bs-wizard.small .text-center{font-size:12px;}
        .bs-wizard-step .progress.sm{margin:42px 0 20px 0px  !important;}
        /*.s-wizard-dot {margin-top:-40px;}*/

       .input-lg{height:60px;}

        .datentime{
            margin:auto;
            margin-top:100px;
            /*border: 1px solid red;*/
            position: absolute;
            bottom:20px;
            width:90%;
        }
        .time{
            color: #fff;
            font-size: 82px;
            text-align:center;
            margin:auto;
        }
         .time2{
            color: #fff;
            font-size: 18px;
        }
        .date{
            color: rgba(255,255,255,0.3);
            text-align:center;
            margin-top:-10px;
        }


        .dot_header{
            border: 0px solid red;
            width:100%
            height:0px;
            margin-top:-35px;
        }
        .dot_header p{margin:0 }
        .dot_header h2{margin:0 0 10px 0;}

        .step .dot_header p{margin:0 }
        .step .dot_header h2{margin:0 0 10px 0;font-size: 18px;}
        .step.active .dot_header p{margin:0 }
        .step.active .dot_header h2{margin:0 0 10px 0;font-size: 28px;}


        .dot{
            height: 40px;
            width: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 10px solid #f5f5f5;
            background: #dedede;
            float:left;
            margin: -2px 0px;
        }
        .dot.active{
            border: 10px solid #fbe8aa;
            background: #fbbd19;
        }
        .step{
            border: 1px solid transparent;
            border-left: 10px solid #f5f5f5;
            min-height: 10px;
            width:100%;
            padding: 0px 50px 10px 50px;
            margin-left: 15px;
            margin-right: 20px;
            clear:both;
        }
        .step.active{
            border-left-color :#fbe8aa;
            padding: 0px 50px 50px 50px;
        }
        .step.end{
            border-left-color :transparent;
        }
        
        .fr_numpad{
            width: 93%;
            height: 100%;
            position: absolute;
            bottom:30px;
            left:10px;
            /*float:right;*/

        }
        .tb_numpad{
            border-spacing: 5px;
            border-collapse: separate;
            position:absolute;
            bottom:10px;
            width: 100%;
        }
        table.tb_numpad tr td{
            background: blue;
            text-align: center;
            height:60px;
            /*width:85px;*/
            border-collapse: none !important;
            border-radius: 0px;
            font-size:24px;
            background: rgba(255,255,255,0.2);
            color: #fff;
            font-weight:normal;
           /* background: rgb(237,237,237); 
            background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(191,191,191,1) 100%); 
            background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(191,191,191,1) 100%);
            background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(191,191,191,1) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#bfbfbf',GradientType=0 ); */


        }
        table.tb_numpad tr td:hover{
            cursor:pointer;
        }
        table.tb_numpad tr td:active{
             background: rgba(255,255,255,0.5)
            /*background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(237,237,237,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(237,237,237,1) 100%); 
            background: linear-gradient(to bottom,  rgba(211,211,211,1) 0%,rgba(237,237,237,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ededed',GradientType=0 ); */
        }

        .lg_user_info{
            margin:auto;
            width:100%;
             /*border: 1px solid white;*/
             text-align:center;
             margin-bottom:30px;
        }
        .lg_user_info img.user_image{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 5px solid white;
            margin:auto;
            margin-top: 30px;
            overflow: hidden;
        }
        .user_name{
            color: white;
            text-transform: capitalize;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 0px;
        }
        .user_email{
            font-size : 14px;
            color: rgba(255,255,255,0.3);
            margin:0;
        }
        .labelvfi{
            font-size: 14px;
            text-transform: uppercase;
            font-weight:bold;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            display: block;
            color: #fff;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .on_going{
            position: absolute;
            height: 100%;
            width: 100%;
            /*border: 1px solid red;*/
            padding-top: 260px;
            padding-bottom: 170px;

        }
        .list_vfi{
            height:100%;
            /*border: 1px solid white;*/
            overflow: auto;
            margin-right:40px;
            background: rgba(0,0,0,0.1);
        }
        .list_vfi ul{
            list-style: none;
            padding:0;
            margin:0;
            font-size: 12px;
        }
        .list_vfi ul a li, .list_vfi ul a li:active{
            /*background: blue;*/
            padding: 10px 10px 10px 20px; 
            margin-bottom: 1px;
            color: rgba(255,255,255,0.3);
            border-left: 5px solid transparent;
            -moz-transition : .3s;
            -o-transition : .3s;
            -webkit-transition : .3s;
        }
        .list_vfi ul a:hover{
            text-decoration:none;
        }
        .list_vfi ul li:hover{
            background: #381f19;
            border-left: 5px solid #51342b;
        }
        
        .list_vfi ul li.active{
            border-left: 5px solid #29b6f6;
            background: #42271f;
        }
        .list_vfi ul li.active i{
            color: #64dd17;

        }

        .list_vfi ul li p{
            font-size: 14px;
            color: #fff;
            margin:0;
        }
       .list_vfi ul li p span.badge{
            font-size: 10px;
            background: #553c36;
        }

        .list_vfi::-webkit-scrollbar {
            width: 8px;
        }
         
        .list_vfi::-webkit-scrollbar-track {
            /*-webkit-box-shadow: inset 0 0 6px #000; */
            /*border-radius: 10px;*/
            background: #160b08;
        }
         
        .list_vfi::-webkit-scrollbar-thumb {
            /*border-radius: 10px;*/
            /*-webkit-box-shadow: inset 0 0 6px #7c574c; */
            background: #6d483e;
        }

        /*NAV HEADER*/
        .main-header.h_touch{
            background: #301A14;
            display: none;
        }
         .main-header.h_touch .main-sidebar{
            background:#F2F2F2;
            height:100%;
            position: fixed; 
            -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
               -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
                   -box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
                   padding:0px 10px;
        }

@media only screen 
    and (min-device-width: 468px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {

    .vfiright, .vfileft{
        display: none;
    }

    .main-header.h_touch{
        background: #301A14;
        display: block;
    }
}


.btn-big{
    padding: 0px;
    height: 120px;
    vertical-align: middle;
    font-size: 3vw !important;
    white-space: initial !important;
  }



  /*NEW STYLE*/

    /*HEADING*/
    
    body{
        margin-bottom: 400px !important;
    }
    section.myheader{
        background: #333333;
        width: 100%;
        height: 100px;
        padding: 0;
        overflow:hidden;
    }
    section.myheader.float{
        background: #333333;
        width: 100%;
        height: 100px;
        padding: 0;
        overflow:hidden;
        position: fixed;
        bottom: 0;
        z-index: 50;
    }
        section.myheader.blue, .btn.btn-black.blue{background: #039BE5 !important}
        section.myheader.green, .btn.btn-black.green{background: #6a1b9a !important}
        section.myheader.lime, .btn.btn-black.lime{background: #880e4f !important}
        section.myheader.orange, .btn.btn-black.orange{background: #FF6600 !important}
        section.myheader.pink, .btn.btn-black.pink{background: #FF3333 !important}
        section.myheader.brown, .btn.btn-black.brown{background: #CC3300 !important}

          section.myheader .row{
            padding: 0;
            padding-left: 30px;
          }

        section.myheader .heading h1{
            margin-top:25px;
            color: white;
        }
        section.myheader .heading span{
            position: absolute;
            display: inline-block;
            background: #FFFF99;
            border: 1px solid #FFCC33;
            color: #CC3300;
            padding: 4px 10px;
            border-radius: 5px;
            font-size: 18px;
            margin-left:10px;
            margin-top:5px;
            font-weight: bold;
        }

        section.myheader ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /*height: 100px;*/
        }

        section.myheader ul li {
            float: left;
            margin:0 !important;
            border-left: 1px solid rgba(0,0,0,0.3);
        }

        section.myheader ul li i {
            height: 30px;
        }

        section.myheader ul li a {
            font-size: 36px;
            display: block;
            color: white;
            text-align: center;
            padding: 20px 25px;
            text-decoration: none;
            background-color: rgba(0,0,0,0.2);
            height: 100px;
        }
        section.myheader ul li a.red{
            background-color: #D50000;
        }
        section.myheader ul li a.black_red{
            background-color: #333333;
            color: #D50000;
        }
        section.myheader ul li a.black_red p{
            color: #fff;
        }

        section.myheader ul li a:hover:not(.active) {
            background-color: rgba(0,0,0,0.5);
        }
        section.myheader ul li a.red:hover:not(.active) {
            background-color: #b90000;
        }

        section.myheader ul .active {
            background-color: #4CAF50;
        }

        section.myheader ul li p {
            font-size: 18px;
            margin-top:10px;
        }



    /*INFO*/
    section.info {
        margin-top: 10px;
        padding: 0 10px;
        height: 90px;
        width: 100%;
        /*border: 1px solid red;*/
        white-space: nowrap;
        overflow-x: auto;
    }

    section.info h3{
        color: #868686;
    }
    section.info a{
        color: #000;
    }

     section.info span.no_label{
        display: inline-block;
        padding: 15px 20px 5px 20px;
        font-size: 24px;
        line-height: 13px;
        background: #acacac;
        color: #464646;
        /*border: 1px solid gray;*/
    }
    section.info span.no_label p{
        position: relative;
        font-size: 16px;
        margin-top:17px;
        margin-bottom:10px;
        line-height: 0;
        font-weight: bold;
        opacity: 0.7;
    }
    section.info span.no_label.active{
        background: #1cb841;
        /*border: 1px solid #32b350;*/
        font-size: 24px;
        color: #000;
    }
    section.info span.no_label.disabled{
        background: #48e46c;
        color: #000;
        /*border: 1px solid #55e777;*/
    }
    section.info span.no_label.disabled p{
        color: #000;
    }
    section.info span.no_label.disabled i{
        line-height: 0;margin:0 7px 0 0;
    }
   
    

    /*INFO DARK*/
    section.info.dark {
        margin-top: 20px;
        padding: 0 10px;
    }

    section.info.dark h3{
        color: #fff;
    }

    section.info.dark span.no_label{
        display: inline-block;
        background: #FFFF99;
        padding: 10px 20px;
        border: 1px solid #FFCC33;
        float: right;
        font-size: 24px;
        color: #000;
    }

    .float_breadcrumb{
        /*position: absolute;*/
        /*margin:-40px 0 30px 10px;*/
        /*margin-bottom: 0;*/
        /*margin-left: -100px !important;*/
        font-weight: bold;
    }

    /*BUTTON*/
    .button .btn{border-radius: 5px;}
    .button{
        margin-top: 30px;
        padding: 0 10px;
        text-align: center;
    }

    .button a.btn.btn-black img, button.btn.btn-black img{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        height: 60px;
        display: block;
    }

    .button a.btn.btn-black, button.btn.btn-black{
        background: #333333;
        text-align: center;
        color: #fff;
        display: block;
        height: 160px;
        padding-top:20px;
        font-size: 14px;
    }

     .button a.btn.btn-black span, button.btn.btn-black column-span: {
     text-transform: uppercase;
    }

    .button a.btn.btn-back{
        margin-top: 30px;
        background: #E4E4E4;
        text-align: center;
        color: #fff;
        display: block;
        height: 80px;
        font-size: 24px;
        padding-top: 20px;
        color: rgba(0,0,0,0.5);
        font-weight: bold;
    }
    .button a.btn.btn-back img{
        margin: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        margin-right: 10px;
        height: 30px;
        opacity: 0.5;
    }

    .btn-lg{
        padding: 20px; 
        margin-left: 3px; 
        font-size: 35px;
    }

    .btn-close{
        padding: 10px; 
        /*margin-left: 3px; */
        margin-top: 5px !important;
        margin-bottom: 20px !important;
        /*border-radius: 0 0 5px 5px;*/
        font-size: 18px;
        background: #D50000;
        color: #fff;
        position: relative;

    }
